<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{{ book.title }}</title>

  <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/template.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/bookdetail.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/index"><img src="/static/img/brand.png" alt="BestBuyer Brand"/><span>最强买手</span></a>
  </div>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <form class="navbar-form navbar-left" role="search" action="/resultset" method="get">
      <div class="form-group navbar-searchbar">
        <div class="input-group">
          <input type="text" class="form-control" name="keyword" placeholder="书名、作者、ISBN">
          <input id="action" type="hidden" name="action" value="any">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
        </div>
      </div>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="#" title="用户">
          <span class="glyphicon glyphicon-user"></span>
          吴永兴
        </a>
      </li>
      <li>
        <a href="#" title="购物车">
          <span class="glyphicon glyphicon-shopping-cart"></span>
          购物车
        </a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" title="账户设置">
          <span class="glyphicon glyphicon-cog"></span>
          账户设置
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </li>
      <li>
        <a href="#" title="注销">
          <span class="glyphicon glyphicon-log-out"></span>
          注销
        </a>
      </li>
    </ul>
  </div>
  <!-- /.navbar-collapse -->
</nav>

<div class="content">
  <div class="book-info">
    <div class="book-cover">
      <img src="{{ book.cover }}" alt="封面">
    </div>
    <div class="book_detail">
      <h1 class="book_title" title="{{ book.title }}">
        {{ book.title }}
        <span class="glyphicon glyphicon-star-empty star"></span>
        <br>
        <small>{{ book.author }} 著</small>
      </h1>
      <div>
        <div class="price">
          <table class="shops">
            {% for goods_info in book.goods_list %}
            <tr>
              <td class="shop_name">{{ goods_info.platform}}:</td>
              <td class="shop_price">￥{{goods_info.instant_price}}</td>
              <td class="shop_link">
                <a href="{{ goods_info.link}}">
                  <span class="glyphicon glyphicon-share-alt"></span>
                </a>
              </td>
            </tr>
            {% end %}
          </table>
        </div>
      </div>
    </div>
    <div class="fixclear"></div>
    <div class="attr_panel">
      <div class="attr_title"><h2>产品参数</h2></div>
      <table class="book_attr">
        <tr>
          <td>作者: {{ book.author }}</td>
          <td>出版社: {{ book.press }}</td>
        </tr>
        <tr>
          <td>定价: {{ book.price }}元</td>
          <td id="isbn" isbn="{{ book.isbn }}">ISBN: {{ book.isbn }}</td>
        </tr>
      </table>
    </div>
    <div class="attr_panel">
      <div class="attr_title trend_padding"><h2>价格走势</h2></div>
      <div id="price_trend"></div>
    </div>
    <div class="attr_panel">
      <div class="attr_title comment_padding"><h2>产品评论</h2></div>
      <div class="comments">
        {% for comment in comments %}
        <div class="comment">
          <img src="/static/img/douban.png">

          <div class="comment-content">
            <div class="comment_source">
              {{ comment.author }}&nbsp;&nbsp;来自豆瓣的评论&nbsp;&nbsp;{{ comment.comment_time }}
            </div>
            <div class="comment_body">
              {{ comment.detail }}
            </div>
          </div>
          <div class="fixclear"></div>
        </div>
        {% end %}
      </div>
    </div>

  </div>
</div>

<script src="/static/js/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/static/js/bootstrap.js" type="text/javascript"></script>
<script src="/static/js/highcharts.js" type="text/javascript"></script>
<script src="/static/js/exporting.js" type="text/javascript"></script>
<script src="/static/js/bookdetail.js" type="text/javascript"></script>
<script type="text/javascript">
  var clicked = false;
  $(".star")
  .click(function() {
    clicked = true;
  })
  .mouseenter(function() {
    if ($(this).hasClass("glyphicon-star-empty")) {
      $(this).addClass("glyphicon-star");
      $(this).removeClass("glyphicon-star-empty");
    } else {
      $(this).addClass("glyphicon-star-empty");
      $(this).removeClass("glyphicon-star");
    }
  })
  .mouseleave(function() {
    if (clicked) {
      clicked = false;
    } else {
      if ($(this).hasClass("glyphicon-star-empty")) {
        $(this).addClass("glyphicon-star");
        $(this).removeClass("glyphicon-star-empty");
      } else {
        $(this).addClass("glyphicon-star-empty");
        $(this).removeClass("glyphicon-star");
      }
    }
  });

</script>

</body>
</html>
