<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>{{ book.title }}@最强买手</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <link href="/static/css/template.css" rel="stylesheet"/>
    <link href="/static/css/bookdetail.css" rel="stylesheet"/>
  </head>
  <body>
    {% include "../template/navbar.html" %}
    <div class="content">
      <div class="book-info">
        <div class="book-cover">
          <img src="{{ book.cover }}" alt="封面">
        </div>
        <div class="book-detail">
          <h1 class="book_title" title="{{ book.title }}">
            {{ book.title }}
            <span class="glyphicon glyphicon-star-empty star"></span>
            <br>
            <small>{{ book.author }} 著</small>
          </h1>
          <div>
            <div class="price">
              <table class="shops">
                {% for goods_info in book.goods_list %}
                <tr>
                  <td class="shop_name">{{ goods_info.platform}}:</td>
                  <td class="shop_price">￥{{goods_info.instant_price}}</td>
                  <td class="shop_link"><a href="{{ goods_info.link}}"><span class="glyphicon glyphicon-share-alt"></span></a></td>
                </tr>
                {% end %}
              </table>
            </div>
          </div>
        </div>
        <div class="fixclear"></div>
        <div class="attr_panel">
          <div class="attr_title"><h2>产品参数</h2></div>
          <table class="book_attr">
            <tr>
              <td>作者: {{ book.author }}</td>
              <td>出版社: {{ book.press }}</td>
            </tr>
            <tr>
              <td>定价: {{ book.price }}元</td>
              <td id="isbn" isbn="{{ book.isbn }}">ISBN: {{ book.isbn }}</td>
            </tr>
          </table>
        </div>
        <div class="attr_panel">
          <div class="attr_title trend_padding"><h2>价格走势</h2></div>
          <div id="price_trend"></div>
        </div>
        {% if len(comments) > 0 %}
        <div class="attr_panel">
          <div class="attr_title comment_padding"><h2>产品评论</h2></div>
          <div class="comments">
            {% for comment in comments %}
            <div class="comment">
              <img src="/static/img/douban.png">
              <div class="comment-content">
                <div class="comment_source">{{ comment.author }}&nbsp;&nbsp;来自豆瓣的评论&nbsp;&nbsp;{{ comment.comment_time }}</div>
                <div class="comment_body">{{ comment.detail }}</div>
              </div>
              <div class="fixclear"></div>
            </div>
            {% end %}
          </div>
        </div>
        {% end %}
      </div>
    </div>

    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/highcharts.js"></script>
    <script src="/static/js/exporting.js"></script>
    <script src="/static/js/bookdetail.js"></script>
    <script type="text/javascript">
    var clicked = false;
    $(".star")
    .click(function() {
      clicked = true;
    })
    .mouseenter(function() {
      if ($(this).hasClass("glyphicon-star-empty")) {
        $(this).addClass("glyphicon-star");
        $(this).removeClass("glyphicon-star-empty");
      } else {
        $(this).addClass("glyphicon-star-empty");
        $(this).removeClass("glyphicon-star");
      }
    })
    .mouseleave(function() {
      if (clicked) {
        clicked = false;
      } else {
        if ($(this).hasClass("glyphicon-star-empty")) {
          $(this).addClass("glyphicon-star");
          $(this).removeClass("glyphicon-star-empty");
        } else {
          $(this).addClass("glyphicon-star-empty");
          $(this).removeClass("glyphicon-star");
        }
      }
    });
    </script>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </body>
</html>
