<style>
.header {
  display: inline-block;
  padding: 7px 0 7px 0;
  width: 100%;
  height: 74px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.15);
  color: #383838;
}

.header-logo {
  float: left;
  width: 94px;
}

.header-logo img {
  width: 60px;
  height: 60px;
  margin-left: 17px;
}

.header-search-bar {
  float: left;
  padding: 7px 0 7px 0;
  width: 633px;
  height: 60px;
}

.header-search-keyword {
  width: 633px;
  height: 46px;
  background-color: #f7f7f7;
}

.header-search-button {
  width: 46px;
  height: 46px;
}

//.user-status { float: right; }
</style>

<div class="header">
  <div class="header-logo">
    <a href="/index">
      <img src="/static/img/header_logo.png" alt="BestBuyer header logo"/>
    </a>
  </div>
  <div class="header-search-bar">
    <form action="/resultset" method="get">
      <div class="input-group">
        <input class="header-search-keyword form-control" type="text" name="keyword" placeholder="书名、作者、ISBN"
            value="{{ keyword }}">
        <input id="action" type="hidden" name="action" value="any">
          <span class="input-group-btn">
            <button class="header-search-button btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
      </div>
    </form>
  </div>
  <!--div class="user-status">
    <span class="glyphicon glyphicon-user"></span>登录&nbsp;&nbsp;
    <span class="glyphicon glyphicon-registration-mark"></span>注册&nbsp;&nbsp;
  </div-->
</div>