<style>
.header {
  color: #383838;
  display: inline-block;
  width: 100%;
  height: 74px;
  padding: 7px 0 7px 0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

.logo {
  float: left;
  width: 94px;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-left: 17px;
}

#search_bar {
  float: left;
  width: 633px;
  height: 60px;
  padding: 7px 0 7px 0;
}

#search-keyword {
  background-color: #f7f7f7;
  width: 633px;
  height: 46px;
}

#search-button {
  width: 46px;
  height: 46px;
}

.user-status {
  float: right;
}
</style>

<div class="header">
  <div class="logo">
    <a href="/index">
      <img src="/static/img/logo_no_brand.png" alt="BestBuyer Logo"/>
    </a>
  </div>
  <div id="search_bar">
    <form action="/resultset" method="get">
      <div class="input-group">
        <input id="search-keyword" type="text" class="form-control" name="keyword" placeholder="书名、作者、ISBN"
               value="{{ keyword }}">
        <input id="action" type="hidden" name="action" value="any">
          <span class="input-group-btn">
            <button id="search-button" class="btn btn-default" type="submit">
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </span>
      </div>
    </form>
  </div>
  <div class="user-status">
    <span class="glyphicon glyphicon-user"></span>登录&nbsp;&nbsp;
    <span class="glyphicon glyphicon-registration-mark"></span>注册&nbsp;&nbsp;
  </div>
</div>