<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Best Buyer</title>
  <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
  <link href="/static/css/index.css" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div class="container">
    <div class="content">
      <div id="logo">
        <img src="/static/img/logo.png" class="img-responsive" alt="BestBuyer Logo">
      </div>
      <div id="search_bar">
        <form action="/resultset" method="get">
          <div class="input-group">
            <input id="search-keyword" type="text" class="form-control" name="keyword" placeholder="书名、作者、ISBN">
            <input id="action" type="hidden" name="action" value="any">
              <span class="input-group-btn">
                <button id="search-button" class="btn btn-default" type="submit">
                  <span class="glyphicon glyphicon-search"></span>
                </button>
              </span>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script src="/static/js/jquery-1.9.1.min.js" type="text/javascript"></script>
  <script src="/static/js/bootstrap.js" type="text/javascript"></script>
</body>
</html>