<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>最强买手</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <link href="/static/css/index.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div class="container">
        <div class="homepage-logo">
          <img class="img-responsive" src="/static/img/logo.png" alt="BestBuyer homepage logo">
        </div>
        <div class="homepage-search-bar">
          <form action="/resultset" method="get">
            <div class="input-group">
              <input class="homepage-search-keyword form-control" name="keyword" type="text" placeholder="书名、作者、ISBN">
              <input id="action" name="action" type="hidden" value="any">
            <span class="input-group-btn">
              <button class="homepage-search-button btn btn-default" type="submit">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
            </div>
          </form>
        </div>

    </div>

    <script src="/static/js/jquery-1.9.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
  </body>
</html>