<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>最强买手</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/resultset.css" rel="stylesheet" type="text/css"/>
    <script src="/static/js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap.js" type="text/javascript"></script>
    <script src="/static/js/resultset.js" type="text/javascript"></script>

</head>
<body>
<div class="top_bar">
    <img src="/static/image/title.png" alt="请输入 书名、作者、ISBN" class="title"/>

    <form action="/resultset" method="get">
        <div class="input-group">
            <div class="input-group-btn">
                <button id="search_type" type="button" class="btn btn-default dropdown-toggle"
                        data-toggle="dropdown">全部<span
                        class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a class="search_option" href="#" action="isbn">ISBN</a></li>
                    <li><a class="search_option" href="#" action="title">书名</a></li>
                    <li><a class="search_option" href="#" action="author">作者</a></li>
                    <li><a class="search_option" href="#" action="any">全部</a></li>
                </ul>
            </div>
            <input id="key_word" type="text" name="keyword" class="form-control">
            <input id="action" type="hidden" name="action" value="any">
            <input type="submit" id="search_btn" value=""/>
        </div>
    </form>
</div>
<div class="header"></div>
<div class="search_result_list">
    <div class="scrollbox">
        <div id="prev" class="f-l scrollbtn disabled"></div>
        <div class="f-l scrollpic">
            <ul>
                {% for book in list %}
                <li title= {{ book.title }} >
                    <img alt= {{ book.title }}
                         src= {{ book.cover}}>
                    <span>{{ book.title }}</span>
                </li>
                {% end %}

            </ul>
        </div>
        <div id="next" class="f-r scrollbtn"></div>
    </div>
</div>
<div id="focus">
    <div id="focuspic">

        {% for book in list %}
        <div class="indexbanner">
            <img class="front_cover" alt= {{ book.title }} src= {{ book.cover }}/>

            <div class="search_result">
                <table>
                    <tr>
                        <td rowspan="2">
                            <img src="/static/image/down.png" alt="" class="search_img"/></td>
                        <td>
                            <h3 class="no_margin">{{book.isbn}}&nbsp;&nbsp;{{book.author}}&nbsp;&nbsp;著</h3>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <h4 class="no_margin">
                                <small> {{ book.press }}</small>
                            </h4>
                        </td>
                    </tr>
                </table>
                <div class="result_list">
                    {% for goods in book.goods_list %}
                    <div class="result_item">
                        <a href={{ goods.link }}><h4 class="no_margin">当当网：￥{{ goods.instant_price }}</h4></a>
                    </div>
                    {% end %}
                </div>
            </div>
            <img src="/static/image/show_info.png" alt="查看详情" class="look_info" onclick="lookInfo({{book.isbn}})"/>

        </div>

        {% end %}
    </div>
</div>

<div id="book_info">
    <div id="back_to_search"></div>
    <div class="left_side">
        <div>
            <img src="/static/image/right.png" alt=""/>
            <span class="book_name">城门开</span>
        </div>
        <img src="http://img36.ddimg.cn/93/24/20866026-1_w_2.jpg" alt="封面" class="front_cover_big"/>
        <table class="book_info_table">
            <tr>
                <td>作者：</td>
                <td>北岛</td>
            </tr>
            <tr>
                <td>出版社：</td>
                <td>生活·读书·新知三联书店</td>
            </tr>
            <tr>
                <td>出版社：</td>
                <td>2010-9</td>
            </tr>
            <tr>
                <td>页数：</td>
                <td>197</td>
            </tr>
            <tr>
                <td>定价：</td>
                <td>35.00元</td>
            </tr>
            <tr>
                <td>装帧：</td>
                <td>精装</td>
            </tr>
            <tr>
                <td>ISBN：</td>
                <td>9787108035295</td>
            </tr>
        </table>
    </div>
    <div class="right_side">
        <img src="/static/image/content.png" alt="内容简介" class="content_intro"/>

        <p>
            生于北京，长于北京的作者，阔别家乡十三年后重回北京，发现他在自己的故乡成了异乡人仿佛到了一座陌生的城市。于是他便要“重建我的北京”,用他文字召回北京消失的气味儿、声音和光影，恢复被拆除的四合院、胡同和庙宇的原貌，让瓦顶排浪般涌向低低天际线的景象重现，让鸽哨响彻蓝天的清脆回到人们耳边……同时，作者也把我们带回到他儿时的游戏中，带回到他的读书生活中带回到他的母校，带回的“大串联”的旅途…他重建了这座“孩子们熟知四季变化，居民们胸有方向感”的城池，打开城门，欢迎四海漂泊的游子，欢迎无家可归的孤魂，欢迎所有好奇的客人们。</p>
        <img src="/static/image/writer.png" alt="作者简介" class="author_intro"/>

        <p>北岛，原名赵振开，一九四九年生于北京，现居香港。一九七八年与朋友创办《今天》文学杂志并任主编至今，作品被译成三十多种文字。</p>
    </div>
</div>
</body>
</html>