a {
  color: #000;
}

body {
  background-color: #fff;
}

.navbar-brand {
  padding: 0 17px 0 17px;
}

.navbar-brand img {
  height: 34px;
  margin: 8px 17px 8px 17px;
}

.navbar-nav > li > a {
  margin: 8px;
  padding: 6px 0 6px 0;
}

.navbar-searchbar {
  width: 633px;
}

.content {
  margin: auto;
  margin-top: 50px;
}

.book-info {
  margin: auto;
  width: 800px;
}

.book-cover {
  width: 300px;
  height: 300px;
  border: 1px solid #e0e0e0;
  float: left;
}

.book-cover img {
    height: 100%;
    width: 100%;
}

.book_detail {
  position: relative;
  margin-left: 340px;
  clear: none;
}

.book_title {
  font-size: 25px;
  font-family: '微软雅黑';
  color: #2d2b2b;
}

.star {
  font-size: 80%;
  color: #c9481c;
}

.price {
  margin-left: 100px;
}

.shop_name {
  text-align: right;
  color: #575555;
  font-size: 18px;
}

.shop_price {
  color: #c9481c;
  font-size: 20px;
}

.shop_link {
  width: 100px;
}

.shop_link a img {
  width: 100%;
}

.shops {
  border-collapse: separate;
  border-spacing: 20px 20px;
}

.attr_panel {
  margin-top: 30px;
}

.trend_padding {
  padding-bottom: 20px;
}

.comment_padding {
  padding-bottom: 10px;
}

.attr_title {
    color: #c9481c;
}

#price_trend {
    width: 800px;
    height: 400px;
    padding: 30px 80px 30px 80px;
}

.book_attr {
    border-collapse: separate;
    border-spacing: 80px 10px;
    color: #565656;
    font-size: 18px;
}

.comments {
  width: 800px;
}

.comment {
  margin-bottom: 10px;
  padding-top: 5px;
  height: 120px;
  border-top: 1px solid #e0e0e0;
}

.comment img {
  margin-top: 20px;
  width: 120px;
  float: left;
}

.comment-content {
  margin-left: 120px;
  font-size: 18px;
}

.comment_source {
  font-size: 90%;
  color: #565656;
  text-align: right;
}

.comment_body {
  padding-top: 10px;
  font-size: 80%;
  color: #272626;
}

.comment_date {
    color: #565656;
}
