body { background-color: #f7f7f7; }

.container {
  padding-top: 7em;
  padding-bottom: 2em;
}

.homepage-logo {
  margin: auto;
  margin-bottom: 40px;
  width: 250px;
  height: 200px;
}

.homepage-search-bar {
  margin: auto;
  width: 633px;
  height: 46px;
}

.homepage-search-keyword {
  width: 633px;
  height: 46px;
}

.homepage-search-button {
  width: 46px;
  height: 46px;
}