body {
  background-color: #f7f7f7;
}

.container {
  padding-top: 7em;
  padding-bottom: 2em;
  margin: auto;
}

#logo {
  margin: auto;
  width: 250px;
  height: 200px;
  margin-bottom: 40px;
}

#search_bar {
  margin: auto;
  width: 633px;
  height: 46px;
}

#search-keyword {
  margin: auto;
  width: 633px;
  height: 46px;
}

#search-button {
  width: 46px;
  height: 46px;
}