* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.content {
  background-color: #e7e6e6;
  height: 300px;
  margin-top: 100px;
  padding: 30px;
}

.main {
  width: 700px;
  height: 100%;
  margin: 0 auto;
}

.main img {
  height: 100%;
  float: left;
}

.desc {
  margin-left: 280px;
  position: relative;
}

.desc h1 {
  font-family: '微软雅黑';
  position: relative;
  top:100px;
  color: #c9481c;
  font-size: 30px;
}

.desc a {
  display: block;
  position: absolute;
  top:200px;
  left: 250px;
}

.desc a img {
  width: 120px;
}