.result_list{
    margin-top: 10px;
    padding-left: 70px;
}

.result_item{
    margin-bottom: 20px;
}

.cover {
    width: 150px;
    height: 150px;
    border: 2px solid #e0e0e0;
    float:left;
}

.cover img {
    width: 100%;
    height: 100%;
}

.book_info{
    margin-left: 170px;
    width: 600px;
    height: 160px;
    padding-top: 5px;
}

.book_info_row {
    margin-bottom: 5px;
}

.book_title{
    width: 100%;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;;
}

.book_title a{
    color: #131313;
}

.book_title a:hover{
    color: #196ea9;
}

.book_price {
    color: #2dcc70;
    font-size: 25px;
    font-weight: 700;
}

.book_prop{
    color: #575555;
    font-size: 18px;
}