* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.header {
  color: #383838;
  display: block;
  width: 100%;
  height: 74px;
  padding: 7px 0 7px 0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

.logo {
  float: left;
  width: 94px;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-left: 17px;
}

#search_bar {
  margin: auto;
  margin-left: 94px;
  width: 633px;
  height: 60px;
  padding: 7px 0 7px 0;
}

#search-keyword {
  background-color: #f7f7f7;
  width: 633px;
  height: 46px;
}

#search-button {
  width: 46px;
  height: 46px;
}

.results {
  width: 634px;
  margin-top: 10px;
  padding-left: 94px;
}

.result {
  width: 900px;
  padding: 10px;
  margin-bottom: 20px;
}

.cover {
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 2px;
  border: 1px solid #dcdcdc;
  float: left;
}

.cover img {
    width: 100%;
    height: 100%;
}

.result_body {
    margin-left: 170px;
    width: 634px;
    height: 150px;
    padding: 0;
}

.book_info_row {
    margin-bottom: 5px;
}

.book_title {
    width: 100%;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;;
}

.book_title a {
    color: #131313;
}

.book_title a:hover {
    color: #196ea9;
    text-decoration: none;
}

.book_price {
    color: #c9481c;
    font-size: 25px;
    font-weight: 700;
}

.book_prop {
    color: #575555;
    font-size: 18px;
}

#pager ul.pages {
    height: 32px;
}

#pager ul.pages li {
    float: left;
    border: 1px solid #ddd;
    background: #fff;
    margin: 0 5px 0 0;
    padding: 5px 8px;
}

#pager ul.pages li:hover {
    border: 1px solid #45bbec;
    background: rgba(66, 225, 255, 0.05);
}

#pager ul.pages li.pgEmpty {
    border: 1px solid #eee;
    color: #999;
}

#pager ul.pages li.pgCurrent {
    border: 1px solid #45bbec;
    color: #555;
    font-weight: 700;
    background-color: rgba(66, 225, 255, 0.05);
}