* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

body {
    background-color: #fcfcfc;
    min-width: 1200px;
    font-family:'微软雅黑';
}

.title {
    width: 200px;
    float: left;
    margin: 10px 10px 0px 10px;
}

#search_btn {
    float:left;
    margin-left: 10px;
    width: 35px;
    height: 35px;
    background: transparent url("/static/image/search_small.png") 0 0 no-repeat;
    border-color: transparent;
}

#key_word{
    max-width: 246px;
}

.top_bar {
    height: 50px;
    margin-top: 20px;
    margin-left: 40px;
}

.fixclear {
    clear: both;
}


.header {
  color: #383838;
  display: block;
  width: 100%;
  height: 74px;
  padding: 7px 0 7px 0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.15);
}

.logo {
  float: left;
  width: 94px;
}

.logo img {
  width: 60px;
  height: 60px;
  margin-left: 17px;
}

#search-bar {
  margin: auto;
  margin-left: 94px;
  width: 633px;
  height: 60px;
  padding: 7px 0 7px 0;
}

#search-keyword {
  background-color: #f7f7f7;
  width: 633px;
  height: 46px;
}

#search-button {
  width: 46px;
  height: 46px;
}
